.top_nav_left span {
  padding: 5px;
}
.top_nav_right h6 {
  font-size: 13px;
  padding: 10px 10px 0;
}

.top_nav_right {
  padding: 5px;
}
.top_nav_right h6 span {
  padding: 0 5px;
}

@media (max-width: 510px) {
  .topnav {
    flex-direction: column;
  }
}
